<!-- Modal -->
<div class="modal fade" id="imageModel" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content bg-dark bg-opacity-75 border-0">
        <div class="modal-header border-0">
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex align-items-center justify-content-center p-0">
          <img [src]="imageUrl" class="img-fluid w-100 h-100 object-fit-contain" alt="modal-img">
        </div>
      </div>
    </div>
  </div>