
        <div class="profile reveal-left position-relative">
            <i class="fa-solid fa-xmark cancel fs-2 cursor-pointer" (click)="goBack()"></i>
            <h1 class="fs-1 light-color text-center fw-bold  py-5 header">Update Password </h1>
            <form class="row p-5 g-4 g-md-3" [formGroup]="updatePassword" (ngSubmit)="updateUserPassword()">
                @if (errorMsg) 
                    {
                 <div class="col-md-7 mx-auto text-center">
                    <span class=" error fs-5"><i class="fa-solid fa-triangle-exclamation mx-2"></i>{{errorMsg}}</span>
                    </div>
                        
                    }
                <div class="col-md-7 mx-auto">
                    <div class="inputs">
                    <input type="password" placeholder="Old Password" formControlName="oldPassword"  [ngClass]="{'error': updatePassword.get('oldPassword')?.errors && updatePassword.get('oldPassword')?.touched}">
                     @if (updatePassword.get("oldPassword")?.errors && updatePassword.get("oldPassword")?.touched) {
                                        @if (updatePassword.get("oldPassword")?.getError("required")) {
                                            <span class="error">Old password is required</span>
                                        }
                                }
                    </div>
                </div>
                <div class="col-md-7 mx-auto">
                    <div class="inputs">
                       <input type="password"  placeholder="New Password" formControlName="newPassword" [ngClass]="{'error': updatePassword.get('newPassword')?.errors && updatePassword.get('newPassword')?.touched}">
                       @if (updatePassword.get("newPassword")?.errors && updatePassword.get("newPassword")?.touched) {
                                        @if (updatePassword.get("newPassword")?.getError("required")) {
                                            <span class="error">New Password is required</span>
                                        }
                                        @else if (updatePassword.get("newPassword")?.getError("pattern")) {
                                            <span class="error">New Password must have at least one capital character and one least  private code and one number from 0 to 9 and can't be less than 8 characters</span>
                                        }
                                }

                    </div>
                </div>
                <div class="col-md-7 mx-auto">
                    <div class="inputs">
                       <input type="password"  placeholder="Confirmation Password" formControlName="confirmationPassword" [ngClass]="{'error': updatePassword.get('confirmationPassword')?.errors && updatePassword.get('confirmationPassword')?.touched}">
                       @if (updatePassword.get("confirmationPassword")?.errors && updatePassword.get("confirmationPassword")?.touched) {
                                        @if (updatePassword.get("confirmationPassword")?.getError("required")) {
                                            <span class="error">Confirmation Password is required</span>
                                        }
                                }
                      </div>
                    </div>
                <div class="col-md-7 mx-auto">
                     @if ( updatePassword.hasError('passwordMatch') && updatePassword.get('confirmationPassword')?.touched) {
                                        <span class="mt-2 text-center error"><i class="fa-solid fa-triangle-exclamation mx-2"></i>Confirm Password not match</span>
                                }
                </div>
                <div class="col-md-6 mx-auto d-flex justify-content-center align-items-center">
                    <button class="btn-profile fs-4 cursor-pointer" [disabled]="updatePassword.invalid">
                        @if (loading) {
                                Loading...<i class="fa-solid fa-spin fa-spinner"></i>
                             } @else {
                        Save }
                    </button>
                </div>
            </form>
        </div>