<section class="forget-password d-flex justify-content-center align-items-center" >
    <div class="container py-5">
        @if (!isCode && !isReset) { <div class="d-flex flex-column align-items-center w-100">
            <h2 class="light-color py-4">Please enter your registered Email</h2>
            @if (errorMsg ) {
              <div class="alert alert-danger rounded-3 w-75" role="alert">
                  <p class="fs-5 mb-0"><i class="fa-solid fa-triangle-exclamation mx-2"></i>Error : {{errorMsg}}</p>
                </div>
          }
            <form action="" class="py-3 w-75" [formGroup]="emailForm" (ngSubmit)="sendEmail()">
              <input type="email" placeholder="Email" class="w-100 py-3 my-3" formControlName="email">
              @if (emailForm.get("email")?.errors && emailForm.get("email")?.touched) {
                <div class="alert alert-danger rounded-3 w-100" role="alert">
                    @if (emailForm.get("email")?.getError("required")) {
                        <p class="fs-6 mb-0"><i class="fa-solid fa-triangle-exclamation mx-2"></i>email is required</p>
                    }
                    @else if (emailForm.get("email")?.getError("email")) {
                        <p class="fs-6 mb-0"><i class="fa-solid fa-triangle-exclamation mx-2"></i>your email is invaild</p>
                    }
                  </div>
            }
              <button class="btn-submit mt-3 w-75 mx-auto d-block"  [disabled]="emailForm.invalid || loading">
                @if (loading) {
                  Loading...<i class="fa-solid fa-spin fa-spinner"></i>
               } @else {
                Next
               }
              </button>
            </form>
          </div>}
          @if ( isCode) {
            <div class="d-flex flex-column align-items-center w-100">
              <div class="py-3 w-75">
                <h2 class="light-color py-4 text-left fw-bold">Code verification</h2>
                <h4 class="light-color pb-4 text-left ">We have sent the Code to your email ,please
                  enter the code in the column below</h4>

              </div>
              <form class="w-75" [formGroup]="codeForm" (ngSubmit)="sendCode()">
                  <div class="w-100">
                    @if (errorMsg) {
                      <div class="alert alert-danger rounded-3 mt-2" role="alert">
                          <p class="fs-5 mb-0"><i class="fa-solid fa-triangle-exclamation mx-2"></i>Error : {{errorMsg}}</p>
                        </div>
                  }
                  </div>
                  <div class="w-100">
                    <div class="d-flex justify-content-between py-3">
                      <input class="animated-input" style="animation-delay: 0s;" #otpInput type="text" maxlength="1" formControlName="num1"
                        (input)="onInput($event, 0)" (keydown)="onKeyDown($event, 0)">
                      <input class="animated-input" style="animation-delay: .3s;" #otpInput type="text" maxlength="1" formControlName="num2"
                        (input)="onInput($event, 1)" (keydown)="onKeyDown($event, 1)">
                      <input class="animated-input" style="animation-delay: .6s;" #otpInput type="text" maxlength="1" formControlName="num3"
                        (input)="onInput($event, 2)" (keydown)="onKeyDown($event, 2)">
                      <input class="animated-input" style="animation-delay: .9s;" #otpInput type="text" maxlength="1" formControlName="num4"
                        (input)="onInput($event, 3)" (keydown)="onKeyDown($event, 3)">
                      <input class="animated-input" style="animation-delay: 1.2s;" #otpInput type="text" maxlength="1" formControlName="num5"
                        (input)="onInput($event, 4)" (keydown)="onKeyDown($event, 4)">
                      <input class="animated-input" style="animation-delay: 1.5s;" #otpInput type="text" maxlength="1" formControlName="num6"
                        (input)="onInput($event, 5)" (keydown)="onKeyDown($event, 5)">
                    </div>
                  </div>
                  <div class="w-100">
                    <div class="py-3">
                      <button class="btn-submit w-100 " [disabled]="codeForm.invalid || loading">
                        @if (loading) {
                          Loading...<i class="fa-solid fa-spin fa-spinner"></i>
                       } @else {
                        Next
                       }
                        </button>
                        
                    </div>
                  </div>
              </form>
            </div>
          }
          @if ( isReset) { 
            <div class="d-flex flex-column align-items-center w-100">
               <div class="pt-3 w-75">
              <h2 class="light-color  text-left fw-bold">New password</h2>

            </div>
            <form action="" class="py-3 w-75" [formGroup]="resetPasswordForm" (ngSubmit)="resetData()">
              @if (errorMsg) {
                <div class="alert alert-danger rounded-3 w-100" role="alert">
                    <p class="fs-5 mb-0"><i class="fa-solid fa-triangle-exclamation mx-2"></i>Error : {{errorMsg}}</p>
                  </div>
            }
              <div class="w-100 py-3 my-3" >
                <label for="password" class="light-color fs-4 ms-3"> New Password</label>
                <input type="password" placeholder="Password" class="w-100 mt-2"  formControlName="password">
                @if (resetPasswordForm.get("password")?.errors && resetPasswordForm.get("password")?.touched) {
                  <div class="alert alert-danger mt-2 " role="alert">
                      @if (resetPasswordForm.get("password")?.getError("required")) {
                          <p class="fs-6 mb-0"><i class="fa-solid fa-triangle-exclamation mx-2"></i>password is required</p>
                      }
                      @else if (resetPasswordForm.get("password")?.getError("pattern")) {
                          <p class="fs-6 mb-0"><i class="fa-solid fa-triangle-exclamation mx-2"></i>your password must have at least one capital character and one least  private code and one number from 0 to 1 and can't be less than 8 characters</p>
                      }
                    </div>
              }
              </div>
              <div class="w-100 py-3 my-3" >
                <label for="password" class="light-color fs-4 ms-3"> Confirm new Password</label>
                @if ( resetPasswordForm.hasError('passwordMatch') && resetPasswordForm.get('confirmationPassword')?.touched) {
                  <div class="alert alert-danger rounded-3 mb-0 " role="alert">
                      <p class="fs-6 mb-0"><i class="fa-solid fa-triangle-exclamation mx-2"></i>Confirm Password not match</p>
                    </div>
              }
                <input type="password" placeholder="Password" class="w-100 mt-2"  formControlName="confirmationPassword">
                @if (resetPasswordForm.get("confirmationPassword")?.errors && resetPasswordForm.get("confirmationPassword")?.touched) {
                  <div class="alert alert-danger rounded-3 mt-2 " role="alert">
                      @if (resetPasswordForm.get("confirmationPassword")?.getError("required")) {
                          <p class="fs-6 mb-0"><i class="fa-solid fa-triangle-exclamation mx-2"></i>Confirm password is required</p>
                      }
                      @else if (resetPasswordForm.get("confirmationPassword")?.getError("pattern")) {
                          <p class="fs-6 mb-0"><i class="fa-solid fa-triangle-exclamation mx-2"></i>your Confirm password must have at least one capital character and one least  private code and one number from 0 to 1 and can't be less than 8 characters</p>
                      }
                    </div>
              }
              </div>
              <button class="btn-submit mt-3 w-75 mx-auto d-block"  [disabled]="resetPasswordForm.invalid || loading">
                @if (loading) {
                  Loading...<i class="fa-solid fa-spin fa-spinner"></i>
               } @else {
                Next
               }
              </button>
            </form>
          </div>}
     
    </div>
  </section>
  