<section class="bg-black">
    <div class="container">
        <div class="row py-5 gx-3 gy-4">
            <div class="col-md-6 col-lg-4 px-md-5">
                <div class="d-flex flex-column justify-content-center">
                    <div class="d-flex align-items-center reveal ">
                        <img src="assets/images/copa logo (1).jpeg" alt="copa logo" class="rounded-circle w-25">
                        <div class="fs-3 address px-3 d-flex flex-column">
                            <span >
                                Copa
                            </span>
                            <span>
                                كوبا<i class="fa-solid fa-futbol"></i>
                            </span>
                        </div>
                        
                    </div>

                    <p class="light-color py-4 fs-5 reveal"> Experience sports transformation 
                        like never beforewith cop</p>

                    <div class="d-flex align-items-center justify-content-around fs-2 footer-icons pb-4 reveal">
                        <i class="fa-brands fa-linkedin"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-snapchat"></i>
                    </div>
                    <p class="light-color py-4 reveal"> © 2025 copa®. All rights reserved</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="d-flex flex-column justify-content-center ">
                    <h2 class="address mb-5 reveal">explore</h2>
                    <div class="row light-color fs-5 gy-4 reveal">
                        <div class="col-6">
                            <a class="nav-link  " aria-current="page" routerLink ="/home" >Home</a>
                        </div>
                        <div class="col-6">
                            <a class="nav-link" routerLink ="/subscribe" >Subscribe</a>
                        </div>
                        <div class="col-6">
                            <div class="dropdown">
                                <a class="dropbtn nav-link cursor-pointer">Discover
                                  <i class="fa-solid fa-angle-down fs-6"></i> </a>
                                <div class="dropdown-content">
                                    <a  class="light-color py-2 fs-5">
                                      <i class="fa-solid fa-person-running px-2"></i>
                                      Players</a>
                                    <a  class="light-color py-2 fs-5">
                                      <i class="fa-solid fa-futbol px-2"></i>
                                      Clubs
                                    </a>
                                </div>
                                </div>
                        </div>
                        <div class="col-6">
                            <a class="nav-link" routerLink ="/contactUs" >contact us
                            </a>
                        </div>
                        <div class="col-6">
                            <a class="nav-link" routerLink ="/successStories" >Success 
                                Stories</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-4">
                <div class="d-flex flex-column justify-content-center">
                    <div class="ps-md-5 h-50 d-flex flex-column justify-content-between  fs-5">
                        <h2 class="address fw-bold mb-5 fs-3 reveal"> Contact info</h2>
                        <div class="contact reveal
                        ">
                            <p><i class="fa-solid fa-phone"></i> <span class="ms-3">+20 1016227742</span></p>
                        <p><i class="fa-solid fa-envelope"></i> <span class="ms-3">copa99&#64;gmail.com</span></p>
                        <p><i class="fa-solid fa-location-dot"></i> <span class="ms-3">Shebin El_kom - El_mnofia </span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>