<div class="modal fade show" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <button type="button" class="btn-close ms-auto" (click)="closeModal()" aria-label="Close"></button>
        <iframe [src]="videoUrl | safeUrl" width="100%" height="500px" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
